/* Other rules */
* {
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
}

h1 {
	font-weight: bold;
	font-size: 2rem;
	margin-top: 0.6rem;
	margin-bottom: 2rem;
}

p {
	color: #868a8a;
	font-size: 1.2rem;
	line-height: 1.5;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* Header  */
.header {
	display: flex;
	align-items: center;
	height: 80px;
}
.container-header {
	margin: 0 auto;
	border-bottom: 2px solid #f0f0f0;
}
.logo {
	width: 180px;
}

/* Intro */
.intro {
	padding: 20px 0;
	display: flex;
}
.left-intro {
	flex: 1 1;
	flex-direction: row;
	margin-right: 30px;
}
.img-intro {
	width: 350px;
	border-radius: 10px;
	overflow: hidden;
	background: #f3f5f5;
	object-fit: cover;
}

/* Category */
.main {
	padding: 20px 0;
	background-color: #f0f0f0;
	flex-direction: row;
}
.container-main {
	margin: 0 auto;
	max-width: 1200px;
	background-color: #f0f0f0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 20px;
}
.category-title {
	font-size: 22px;
	color: black;
	font-weight: bold;
	margin-bottom: 20px;
}

.container-categories {
	flex: 1;
}
.category {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.category-item {
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	display: flex;
	width: 49%;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 20px;
}

.category-item-title {
	font-size: 16px;
	color: black;
}
.category-item-left {
	display: flex;
	flex: 1 1;
	flex-direction: column;
	margin-right: 25px;
}
.category-item-desc {
	font-size: 13px;
	color: grey;
	margin: 15px 0;
}
.category-item-price {
	font-size: 20px;
	color: grey;
}
.category-item-img {
	height: 130px;
	width: 130px;
	object-fit: cover;
	border-radius: 5px;
}

.panier {
	width: 350px;
	position: sticky;
	top: 0;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
}
.container-panier {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	/* margin: 30px 0; */
}

.btn-panier--validate {
	display: block;
	margin: 10px;
	border-radius: 5px;
	padding: 1rem;
	background: #00cdbd;
	color: #fff;
	border: none;
	font-weight: 700;
	font-size: 1rem;
}

.btn-panier--disable {
	cursor: not-allowed;
	background: #bac3c3;
	color: #8b9a9b;
}
.panier-content {
	color: #868a8a;
	text-align: center;
	padding: 3rem 0;
}

.panier-content span {
}
