/* Other rules */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
	box-sizing: border-box;
}
body {
	font-family: roboto, Helvetica, sans-serif;
	background-color: #fff;
}

h1 {
	color: #353535;
	font-weight: 700;
	font-size: 2rem;
	margin-top: 0.6rem;
	margin-bottom: 2rem;
}

p {
	color: #868a8a;
	font-size: 1.2rem;
	line-height: 1.5;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* Header  */
.header {
	display: flex;
	align-items: center;
	height: 65px;
}
.container-header {
	margin: 0 auto;
	border-bottom: 2px solid #f0f0f0;
}
.logo {
	width: 180px;
}

/* Intro */
.intro {
	padding: 20px 0;
	display: flex;
}
.left-intro {
	flex: 1 1;
	flex-direction: row;
	margin-right: 30px;
}
.img-intro {
	width: 350px;
	border-radius: 10px;
	overflow: hidden;
	background: #f3f5f5;
	object-fit: cover;
}

/* Category */
.main {
	padding: 20px 0;
	background-color: #f0f0f0;
	flex-direction: row;
}
.container-main {
	margin: 0 auto;
	max-width: 1200px;
	background-color: #f0f0f0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 20px;
}
.category-title {
	font-size: 22px;
	color: #353535;
	font-weight: 700;
	margin-bottom: 20px;
}

.container-categories {
	flex: 1;
}
.category {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 30px;
}

.category-item {
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	display: flex;
	width: 49%;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 20px;
	position: relative;
	min-height: 170px;
}
.category-item:hover {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	cursor: pointer;
}

.category-item-title {
	font-size: 15px;
	color: black;
	line-height: 1.2em;
}
.category-item-left {
	display: flex;
	flex: 1 1;
	flex-direction: column;
	margin-right: 25px;
}
.category-item-desc {
	font-size: 13px;
	color: grey;
	margin: 15px 0;
	line-height: 1.2em;
}

.category-items-bottom {
	display: flex;
	justify-content: left;
	align-items: center;
	position: absolute;
	bottom: 15px;
}
.category-item-price {
	font-size: 20px;
	color: grey;
}
.category-item-icon {
	margin-left: 15px;
	color: orange;
	font-weight: 700;
	font-size: 14px;
}
.category-item-img {
	height: 130px;
	width: 130px;
	object-fit: cover;
	border-radius: 5px;
}

.panier {
	width: 350px;
	position: sticky;
	top: 20px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
}
.container-panier {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	/* margin: 30px 0; */
}
.btn-panier {
	display: block;
	margin: 10px;
	border-radius: 5px;
	padding: 1rem;
	color: #fff;
	border: none;
	font-weight: 700;
	font-size: 1rem;
}
.btn-panier--validate {
	background: #00cdbd;
	cursor: pointer;
}
.btn-panier--validate:hover {
	background: #05ad9f;
}

.btn-panier--disable {
	cursor: not-allowed;
	background: #bac3c3;
	color: #8b9a9b;
}
.panier-content {
	color: #868a8a;
	text-align: center;
	padding: 1rem;
}
.panier-content {
	color: #868a8a;
	text-align: center;
	padding: 1rem;
}
.cartItems {
	border-bottom: 1px solid #d1d7d7;
	/* margin: 0 10px; */
	max-height: calc(100vh - 300px);
	overflow: auto;
	padding-bottom: 15px;
}
.cartLine {
	display: flex;
	align-items: flex-start;
	padding: 10px 0;
	font-size: 15px;
}

.cartLine--quantity {
	padding: 0 6px;
}
.cartLine--counter {
	display: flex;
	align-items: center;
	margin-right: 10px;
	/* color: #808484; */
}
.cartLine--icon {
	color: #00cdbd;
	font-size: 20px;
	cursor: pointer;
}
.cartLine--icon :hover {
	color: #05ad9f;
}
.cartLine--name {
	flex: 1 1;
	text-align: left;
	line-height: 1.2em;
	color: black;
	padding-right: 20px;
}
.cartLine--price {
	text-align: right;
	color: black;
}

.cartLineResult {
	font-size: 15px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	padding: 15px 0;
	border-bottom: 1px solid #d1d7d7;
	overflow: auto;
}

.cartLineResult--line {
	display: flex;
	justify-content: space-between;
	line-height: 1.2em;

	color: black;
	width: 100%;
	padding: 5px 0;
}
.cartLineResult--item1 {
	flex: 1 1;
	text-align: left;
}

.cartLineResult--item2 {
	text-align: right;
	color: black;
}

.cartLineTotal {
	font-size: 17px;
	font-weight: bold;
	display: flex;
	align-items: flex-start;
	padding-top: 15px;
	color: #353535;
}

.cartLineTotal--item1 {
	flex: 1 1;
	text-align: left;
}

.cartLineTotal--item2 {
	text-align: right;
}
